.section1 {
    position: relative;
    background: url(../assets/images/img-section1.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.opacity-wrapper {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.section1__wrapper {
    position: relative;
    z-index: 2;
    height: 707px;
    width: 100vw;
}

.content-section1 {
    padding-top: 193px;
    padding-left: 42px;
}

.content-section1__title {
    display: inline-block;
    width: 550px;
    height: 105px;
    font-family: 'Yeseva One', cursive;;
    font-size: var(--fs2);
    line-height: var(--lh2);
    text-transform: uppercase;
}

.color-text {
    color: var(--color-theme3);
}

.content-section1__text {
    display: block;
    margin-top: 16px;
    width: 506px;
    font-size: var(--fs3);
    line-height: var(--lh3);
}

.content-section1__button {
    margin-top: 27px;
    width: 207px;
    height: 51px;
    color: var(--color-light);
    white-space: nowrap;
    padding: 0 auto;
}

.content-section1__button:last-child {
    margin-left: 17px;
    background: rgba(255, 255, 255, 0);
    border-color: var(--color-light);
    box-shadow: none;
}