.section7 {
    position: relative;
    background: url(../assets/images/section7-background.jpg) no-repeat center center;
    background-size: 100% 100%;
}

.opacity-wrapper-section7 {
    /* background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%); */
    background: rgba(0, 0, 0, 0.87);
}

.section7__wrapper {
    height: 954px;
    width: 100vw;
    margin-top: -8px;
    position: relative;
    z-index: 4;
}

.form-section7 {
    width: 883px;
    height: 445px;
    background: var(--color-dark);
    position: absolute;
    left:50%;
    transform:translate(-50%, -50%);
    margin-left: 10px;
    padding: 0px 182px;
}

.form-title-section7 {
    font-family: 'Yeseva One';
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 31px;
}

.wrapper-items-section7 {
    display: flex;
    gap: 50px;
    margin-top: 43px;
}

.form-wrapper-section4 {
    width: calc(50% - 25px);
    margin: 0;
}

.email-wrapper7 {
    width: 100%;
    margin-top: 41px;
}

.checkbox-wrapper-section4 {
    width: 286px;
    margin: 42px auto 0;
}

.form-wrapper-submit-section7 {
    width: 200px;
    margin: 46px auto 0;
}

.button-submit-section7 {
    box-shadow: none;
}

.adress {
    position: absolute;
    top: 273px;
    left: 50%;
    transform: translateX(-50%);
    width: 589px;
    margin: 0 auto;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-theme3);
}

.contact {
    display: flex;
    justify-content: space-between;
    width: 71px;
    position: absolute;
    top: 351px;
    left: 50%;
    transform: translateX(-50%);
}

.mail,
.inst {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: var(--color-theme3);
}

.mail__link,
.inst__link {
    transition: all .3s;
}

.mail__link:hover,
.inst__link:hover {
    opacity: .7;
}

.map {
    position: absolute;
    top: 424px;
    left: 50%;
    transform: translateX(-50%);
}

.map__img {
    width: 925px;
    height: 465px;
}